<!DOCTYPE html>
<html lang="en">

<head>
	{% if title %}
	<title>{{ title }} - Bloggy</title>
	{% else %}
	<title>Welcome to Bloggy</title>
	{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<nav>
		<a href="{{url_for('index')}}">Bloggy</a>
		{% if current_user.is_anonymous %}
		<a href="{{url_for('login')}}">Login</a>
		{% else %}
		<a href="{{url_for('logout')}}">Logout</a>
		{% endif %}

	</nav>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}

</body>

</html>
